* {
  margin: 0;
  padding: 0;
  color: black;
}

#block-quote {
  border: none;
  margin-bottom: 0;
}

.bg-gray {
  background-color: #000;
}

.wrapper {
  margin-top: 10%;
}

.title {
  margin-top: -10px;
  border-bottom: 5px solid black;
  padding-bottom: 13px;
  margin-botton: 10px;
}

.ontop {
  vertical-align: super;
}

.btn-black, #new-icon, #tweet-icon, #new, #tweet {
  background-color: black;
  color: green;
}

.btn-black:hover, #new:hover #new-icon, #tweet:hover #tweet-icon, #new:hover, #tweet:hover  {
  background-color: #999;
  color: black;
}

.wrapper, .wrapper * {
  background-color: green;
}

#ft {
  color: black;
}

#new {
    margin-bottom: 10px;
}
